
langchain==1.2.10
langchain-core==1.2.13


matplotlib==3.10.0

langchain.text_splitter 
RecursiveCharacterTextSplitter

langchain_community.document_loaders 
PyPDFDirectoryLoader 
PyPDFLoader    

Chroma    

pandas==2.2.2

tiktoken==0.12.0
yfinance==0.2.66
